# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
Conda.exe
.ipynb_checkpoints

# ChromaDB
chroma_db/

# SQLite
*.db
*.db-shm
*.db-wal

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
